<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Менеджер монет</title>
    <link href="./assets/css/bootstrap.css" rel="stylesheet">
    <link href="./assets/css/application.css" rel="stylesheet">
    <link href="./assets/css/jquery-ui-1.10.3.custom.css" rel="stylesheet">
  </head>

  <body>

    <div id="app-container">
      <div id="header-region"></div>
      <div id="main-region" class="container">
        <p>После загрузки страницы этот контент будет перезаписан на нужный)))</p>
      </div>

      <div id="dialog-region"></div>
    </div>

    <script type="text/template" id="header-template">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#coins">Менеджер монет</a>
          <div class="nav-collapse collapse">
            <ul class="nav"></ul>
          </div>
        </div>
      </div>
    </script>

    <script type="text/template" id="header-link">
      <a href="#<%- url %>"><%- name %></a>
    </script>

    <script type="text/template" id="coins-list">
      <thead>
        <tr>
          <th>Название</th>
          <th>Количество</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </script>

    <script type="text/template" id="coins-list-none">
      <td colspan="3">По вашему запросу монет не найдено.</td>
    </script>

    <script type="text/template" id="coins-list-preview">
      <img class="img-responsive" src="<%- imgUrl %>" title="<%- name %>" alt="<%- name %>" />
      <div class="preview-text-wrapper">
        <p><strong>Страна:</strong> <%- country %></p>
        <p><strong>Год издания:</strong> <%- year %></p>
      </div>
    </script>

    <script type="text/template" id="coins-list-item">
      <td><%- name %></td>
      <td><%- count %></td>
      <td>
        <a href="#coins/<%- id %>" class="btn btn-small js-show">
          <i class="icon-eye-open"></i>
          Детали
        </a>
        <a href="#coins/<%- id %>/edit" class="btn btn-small js-edit">
          <i class="icon-pencil"></i>
          Редактировать
        </a>
        <button class="btn btn-small js-delete">
          <i class="icon-remove"></i>
          Удалить
        </button>
      </td>
    </script>

    <script type="text/template" id="missing-coin-view">
      <div class="alert alert-error">Такой монеты нет!</div>
    </script>

    <script type="text/template" id="coin-view">
      <div class="row">
        <div class="col-md-8">
          <h1><%- name %> - <%- count %>шт.</h1>
        </div>
        <div class="col-md-4">
          <a href="#coins/<%- id %>/edit" class="btn btn-small js-edit">
            <i class="icon-pencil"></i>
            Редактировать
          </a>
        </div>
      </div>
      <p><strong>Год издания:</strong> <%- year %></p>
      <p><strong>Страна:</strong> <%- country %></p>
      <p><img src="<%- imgUrl %>" title="<%- name %>" alt="<%- name %>" /></p>
    </script>

    <script type="text/template" id="loading-view">
      <h1><%- title %></h1>
      <p><%- message %></p>
      <div id="spinner"></div>
    </script>

    <script type="text/template" id="coin-form">
      <form style="padding: 10px 0;" class="clearfix">
        <div class="form-group">
          <div class="col-md-12">
            <div class="control-group">
              <label for="coin-name" class="control-label">Название:</label>
              <input id="coin-name" class="form-control" name="name" type="text" value="<%- name %>"/>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-6">
            <div class="control-group">
              <label for="coin-nominal" class="control-label">Номинал:</label>
              <input id="coin-nominal" name="nominal" type="text" value="<%- nominal %>"/>
            </div>
          </div>
          <div class="col-md-6">
            <div class="control-group">
              <label for="coin-count" class="control-label">Количество в наличии:</label>
              <input id="coin-count" name="count" type="number" value="<%- count %>"/>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-6">
            <div class="control-group">
              <label for="coin-year" class="control-label">Год издания:</label>
              <input id="coin-year" name="year" type="date" value="<%- year %>"/>
            </div>
          </div>
          <div class="col-md-6">
            <div class="control-group">
              <label for="coin-country" class="control-label">Страна:</label>
              <input id="coin-country" name="country" type="text" value="<%- country %>"/>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12">
            <div class="control-group">
              <label for="coin-imgUrl" class="control-label">Путь до картинки в интернете:</label>
              <input id="coin-imgUrl" class="form-control" name="imgUrl" type="text" value="<%- imgUrl %>"/>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <button class="btn js-submit form-control">Сохранить</button>
        </div>
      </form>
    </script>

    <script type="text/template" id="coins-list-layout">
      <div id="panel-region"></div>
        <div class="row">
          <div class="col-md-8">
            <div id="coins-region"></div>
          </div>
          <div class="col-md-4">
            <div id="preview-region">
              <p>Монета не выбрана</p>
            </div>
          </div>
        </div>
    </script>

    <script type="text/template" id="coins-list-panel">
      <button class="btn btn-primary js-new">Добавить монету</button>
      <form id="filter-form" class="form-search form-inline pull-right">
        <div class="input-append">
          <input type="text" class="span2 search-query js-filter-criterion">
          <button type="submit" class="btn">Найти</button>
        </div>
      </form>
    </script>

    <script type="text/template" id="about-message">
      <h1>Немножко информации</h1>
      <p>Это тестовое приложение для работы с монетами.</p>
      <p>Собери коллекцию!</p>
    </script>

    <script src="./assets/js/vendor/jquery.js"></script>
    <script src="./assets/js/vendor/jquery-ui-1.10.3.js"></script>
    <script src="./assets/js/vendor/json2.js"></script>
    <script src="./assets/js/vendor/underscore.js"></script>
    <script src="./assets/js/vendor/backbone.js"></script>
    <script src="./assets/js/vendor/backbone.picky.js"></script>
    <script src="./assets/js/vendor/backbone.syphon.js"></script>
    <script src="./assets/js/vendor/backbone.localstorage.js"></script>
    <script src="./assets/js/vendor/backbone.marionette.js"></script>
    <script src="./assets/js/vendor/spin.js"></script>
    <script src="./assets/js/vendor/spin.jquery.js"></script>

    <script src="./assets/js/app.js"></script>
    <script src="./assets/js/apps/config/storage/localstorage.js"></script>
    <script src="./assets/js/entities/common.js"></script>
    <script src="./assets/js/entities/header.js"></script>
    <script src="assets/js/entities/coin.js"></script>
    <script src="./assets/js/common/views.js"></script>

    <script src="assets/js/apps/coins/coins_app.js"></script>
    <script src="assets/js/apps/coins/common/views.js"></script>
    <script src="assets/js/apps/coins/list/list_view.js"></script>
    <script src="assets/js/apps/coins/list/list_controller.js"></script>
    <script src="assets/js/apps/coins/show/show_view.js"></script>
    <script src="assets/js/apps/coins/show/show_controller.js"></script>
    <script src="assets/js/apps/coins/edit/edit_view.js"></script>
    <script src="assets/js/apps/coins/edit/edit_controller.js"></script>
    <script src="assets/js/apps/coins/new/new_view.js"></script>

    <script src="./assets/js/apps/about/about_app.js"></script>
    <script src="./assets/js/apps/about/show/show_view.js"></script>
    <script src="./assets/js/apps/about/show/show_controller.js"></script>

    <script src="./assets/js/apps/header/header_app.js"></script>
    <script src="./assets/js/apps/header/list/list_view.js"></script>
    <script src="./assets/js/apps/header/list/list_controller.js"></script>

    <script type="text/javascript">
      CoinManager.start();
    </script>
  </body>
</html>
