body {
  padding-top: 60px; /* 60px to make the container make room for the navigation bar */
}
.help-inline.error {
  padding: 0;
  margin: 0;
  position: absolute;
  left: 15px;
  bottom: 0;
  font-size: 10px;
  bottom: 5px;
}
.pointer {
  cursor: pointer;
}
.preview-text-wrapper {
  margin-top: 15px;
}
.preview-text-wrapper p {
  margin-bottom: 3px;
}